.accordion {
    background: var(--background-color);
}

.accordion .item-title {
    cursor: pointer;
    padding: 12px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion .item-title:after {
    content: '➕';
}

.accordion .item-title.open::after {
    content: '➖';
 }

.accordion .item-title.open {
    background: var(--background-color);
    border: 0;
}

.accordion .item-content {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px;
}

.accordion .item-title.open + .item-content {
    display: inline-block;
}