.columns-wrapper {
    aspect-ratio: 16 / 9;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.columns picture {
    align-items: left;
    justify-content: center;
}

.columns > div > div:first-of-type {
    background-color: lightgrey;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1000px) {

    .columns > div {
        display: flex;
        align-items: row;
        flex-flow: wrap;
    }

    .columns > div > div {
        flex: 1; 
    }

    .columns img {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
}

